* {
  font-family: inherit;
  color: inherit;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: #212121;  
}

header {
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

header h2 a {
  border-bottom: 2px solid #fff;
}
footer {
  text-align: center;
  color: #fff;
  padding: 0rem 0.5rem ;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #EC407A 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
  radial-gradient(at 100% 100%, rgba(96, 16, 48, 0) 9px, #EC407A 10px, rgba(96, 16, 48, 0) 11px),
  #E91E63;
  background-size: 20px 20px;
}

.app section:first-child {
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5) inset;
}

.app section:nth-child(odd) {
  z-index: 1;
  box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.12);
}

.app section:nth-child(even) {
  padding: 2.5rem 0.5rem ;
}

section {
  width: 100%;
  /* margin-bottom: 2rem; */
  padding: 2rem 0.5rem ;
  /* box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

section > * {
  width: 100%;
  font-size: 1.2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

section h2 {
  color: #111111;
  border-bottom: 1px solid #616161;
  padding-bottom: 10px;
  margin-bottom: 2.5rem;
}

section textarea {
  font-size: 0.9rem;
}

section ul {
  padding-left: 1rem;
}

li {
  list-style-type: none;
  margin-left: 1rem;
  margin-bottom: 0.7rem;
}

li:before {
  content: '\f046';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #111111;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #E91E63;
  padding-bottom: 2px;
}

.fa {
  color: #111111;
}

/*
  Desktop
*/

@media (min-width: 960px) {
  section > * {
    width: 720px;
    margin: auto;
  }
  section ul {
    padding-left: 2rem;
  }
}
